@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;

  margin-top: 6rem;
  margin-bottom: 10.8rem;

  @include bp.sm {
    margin-bottom: 8.6rem;
  }
}

.content-container {
  @include m.content-container;

  .cards-wrapper {
    @include m.apply-margin-bottom-to-children-except-last(1.6rem);
  }
}
