@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.card {
  display: flex;
  max-width: 102.4rem;
  min-height: 56.5rem;
  border-radius: 3.2rem;
  padding: 6rem;
  @include m.card;

  @include bp.sm {
    padding: 4rem;
    min-height: 46rem;
  }

  @include bp.xs {
    max-width: 35.8rem;
    min-height: 42rem;
    padding: 2.4rem;
  }
}

.project-card {
  @extend .card;
  position: relative;

  padding: 6rem 0 6rem 6rem;
  overflow: hidden;
  z-index: 0;

  @include bp.md {
    display: flex;
    padding-right: 6rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 50.3rem;
  flex-shrink: 0.7;
  @include m.apply-margin-bottom-to-children-except-last(1.6rem);

  .text {
    flex: auto;
    line-height: 1.5;
  }

  .link {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    font-size: 1.8rem;
    color: var(--heading-text-color);
    font-weight: 500;
    transition: transform 0.3s ease-in-out;

    &:hover {
      .arrow-icon {
        transform: translateX(0.3rem);
      }
    }
  }

  @include bp.md {
    flex-shrink: 1;
  }
}

.AlgaTop-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(120px);
  flex-shrink: 0.3;
  z-index: -1;

  @include bp.md {
    display: none;
  }

  img {
    border-radius: 0.8rem;
  }
}

.placeholder-card {
  @extend .card;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%2380808080' stroke-width='1' stroke-dasharray='12' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 32px;
  text-align: center;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.6rem;
    height: 10.6rem;
    margin-bottom: 1.1rem;

    img {
      filter: invert(50%);
      transition: filter ease-in-out 300ms;

      [data-theme="dark"] & {
        filter: opacity(1);
      }
    }
  }

  .placeholder-title {
    margin-bottom: 1.6rem;
  }
  .placeholder-subtitle {
    margin-bottom: 9rem;

    @include bp.xs {
      margin-bottom: 8.5rem;
    }
  }
}
