@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@use '@/styles/utils/functions' as f;

.projects {
  > li:not(:last-of-type) {
    margin-bottom: 2.25rem;

    @include mixins.clamp-bp(
      margin-bottom,
      (
        ultra: 2rem,
      ),
      (
        auto-interpolate: true,
      )
    );
  }
}

.project,
.emptyState {
  @include mixins.card-styles;

  @include mixins.media-min(mobile) {
    height: 35.3125rem;
  }
}

.project {
  @include mixins.flex-center-vertical;

  position: relative;
  align-items: stretch;

  @include mixins.media-min(mobile) {
    min-height: 35.3125rem;
  }

  .content {
    isolation: isolate;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    max-width: 31.4375rem;
    padding: f.subtract-border(2rem, tokens.$card-border-thickness)
      f.subtract-border(1.5rem, tokens.$card-border-thickness);

    @include mixins.media-min(mobile) {
      @include mixins.clamp-bp(
        padding,
        (
          mobile: f.subtract-border(2.8125rem),
          ultra: f.subtract-border(3.75rem),
        )
      );
    }

    .iconWrapper {
      display: block;
      width: 70px;
      height: 70px;
    }

    .title {
      font-size: tokens.$fs-20;
      font-weight: 800;

      @include mixins.media-min(mobile) {
        mix-blend-mode: plus-lighter;
      }
    }

    .description {
      @include mixins.text-line-height;

      @include mixins.media-min(mobile) {
        flex: 1;
      }
    }
  }

  .imageContainer {
    @include mixins.desktop-only;

    @include mixins.media-min(mobile) {
      position: absolute;
      right: 0;
      bottom: 0;

      flex-shrink: 0;

      aspect-ratio: calc(457 / 565);
      height: 100%;
    }
  }
}

.emptyState {
  padding-inline: 32px;
  background-image: tokens.$dashed-border;

  .content {
    $mt: 2.1875rem;
    $mb: 4.25rem;

    margin-top: $mt;
    margin-bottom: $mb;
    margin-inline: auto;

    > * {
      margin-inline: auto;
    }

    .icon {
      $mb: 0.5rem;

      width: 6.625rem;
      height: 6.625rem;
      margin-bottom: $mb;

      @include mixins.clamp-bp(
        margin-bottom,
        (
          mobile: $mb,
          ultra: 0.6875rem,
        )
      );

      path {
        stroke: var(--dark-grey);

        @include mixins.theme-dark {
          stroke: var(--light-grey);
        }
      }
    }

    .title,
    .subtitle {
      text-align: center;
    }

    .title {
      @include mixins.clamp-font-size(
        (
          mobile: tokens.$fs-20,
          ultra: tokens.$fs-32,
        )
      );

      margin-bottom: 1rem;
    }

    .subtitle {
      $mb: 5.3125rem;

      margin-bottom: $mb;

      @include mixins.clamp-font-size(
        (
          mobile: tokens.$fs-base,
          ultra: tokens.$fs-base-desktop,
        )
      );

      @include mixins.clamp-bp(
        margin-bottom,
        (
          mobile: $mb,
          ultra: 5.625rem,
        )
      );
    }

    @include mixins.clamp-bp(
      margin-top,
      (
        mobile: $mt,
        ultra: 6rem,
      )
    );

    @include mixins.clamp-bp(
      margin-bottom,
      (
        mobile: $mb,
        ultra: 8rem,
      )
    );
  }
}
