@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@use '@/styles/utils/functions' as f;

.projects {
  margin-bottom: 3.75rem;

  @include mixins.clamp-bp(
    margin-bottom,
    (
      mobile: 3.75rem,
      ultra: 6.25rem,
    )
  );

  > li:not(:last-of-type) {
    margin-bottom: 2.25rem;

    @include mixins.clamp-bp(
      margin-bottom,
      (
        mobile: 1.5rem,
        ultra: 2rem,
      )
    );
  }
}

.project {
  @include mixins.flex-center-vertical;
  @include mixins.card-styles;

  position: relative;
  align-items: stretch;

  @include mixins.media-min(mobile) {
    height: 35.3125rem;
  }

  .content {
    isolation: isolate;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    max-width: 31.4375rem;
    padding: calc(2rem - tokens.$card-border-thickness)
      calc(1.5rem - tokens.$card-border-thickness);

    @include mixins.media-min(mobile) {
      @include mixins.clamp-bp(
        padding,
        (
          mobile: 2.8125rem,
          ultra: 3.75rem,
        )
      );
    }

    .iconWrapper {
      display: block;
      width: 70px;
      height: 70px;
    }

    .title {
      font-size: tokens.$fs-20;
      font-weight: 800;

      @include mixins.media-min(mobile) {
        mix-blend-mode: plus-lighter;
      }
    }

    .description {
      @include mixins.text-line-height;

      @include mixins.media-min(mobile) {
        flex: 1;
      }
    }
  }

  .imageContainer {
    @include mixins.desktop-only;

    @include mixins.media-min(mobile) {
      position: absolute;
      right: 0;
      bottom: 0;

      flex-shrink: 0;

      aspect-ratio: calc(457 / 565);
      height: 100%;
    }
  }
}
