.container {
  display: flex;
  column-gap: 0.8rem;
  margin-right: 2.4rem;
  text-transform: capitalize;

  a {
    transition: all 0.3s ease-in-out;
  }

  .language {
    filter: opacity(0.6);
  }

  .language--active {
    filter: opacity(1);
  }
}
