@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;

  margin-top: 6rem;
  margin-bottom: 6.1rem;

  @include bp.xs {
    margin-bottom: 5.3rem;
  }
}

.form {
  @include m.content-container;
  @include m.card;
  border-radius: 1.2rem;
  box-shadow: 0 1.2rem 3rem 0 rgba(0, 0, 0, 0.06);

  [data-theme="dark"] & {
    box-shadow: 0 1.9rem 3rem 0 rgba(0, 0, 0, 0.2);
  }
}

.title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  padding: 1.7rem 1.5rem 1.6rem 1.5rem;
  color: var(--heading-text-color);
  border-bottom: 1px solid var(--card-border);

  .dots {
    position: absolute;
    left: 1.5rem;
    display: flex;
    column-gap: 0.8rem;
    padding: 0.5rem 0;

    @include bp.sm {
      left: 3.1rem;
    }

    .red-dot {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #f63636;
      border: 1px solid #d62929;
      border-radius: 100%;
    }
    .orange-dot {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #f6c136;
      border: 1px solid #cea435;
      border-radius: 100%;
    }
    .green-dot {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #68f636;
      border: 1px solid #53cc28;
      border-radius: 100%;
    }
  }
}

.main-window {
  padding: 1rem 3.1rem 2.14rem;
  font-size: 1.6rem;

  @include bp.sm {
    font-size: 1.4rem;
    padding: 2.4rem 2.15rem;
  }

  .inputs-wrapper {
    margin-bottom: 3.2rem;

    @include bp.sm {
      margin-bottom: 2.4rem;
    }

    .input-wrapper {
      display: flex;
      width: 100%;

      .label {
        font-weight: 500;
        color: var(--heading-text-color);
        margin-right: 0.8rem;
      }

      .input {
        outline: none;
        width: 100%;
        color: var(--dark-grey);
        background-color: transparent;
      }
    }

    > :not(:last-child) {
      margin-bottom: 1.6rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--light-grey);

      [data-theme="dark"] & {
        border-bottom: 1px solid var(--white-10per);
      }
    }
  }

  .textarea-wrapper {
    margin-bottom: 3.15rem;

    @include bp.sm {
      margin-bottom: 2.4rem;
    }

    .textarea {
      background-color: var(--faint-white);
      width: 100%;
      height: 32.3rem;
      padding: 2.4rem;
      border-radius: 1.2rem;
      resize: none;
      outline: none;

      [data-theme="dark"] & {
        background-color: var(--main-bg);
      }
    }
  }

  .textarea::placeholder,
  .input::placeholder {
    color: var(--main-text);

    [data-theme="dark"] & {
      color: var(--medium-grey);
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
      @include bp.sm {
        flex-basis: 100%;
      }

      &:disabled,
      &[disabled] {
        opacity: 0.3;
      }
    }
  }
}

.underline {
  margin: 0 0.5rem;
  margin-bottom: 3.2rem;
  border-top: 1px solid var(--black-10per);

  @include bp.sm {
    margin-bottom: 2.4rem;
  }

  [data-theme="dark"] & {
    border-top: 1px solid var(--white-10per);
  }
}
