@use '@/styles/utils/mixins';
@use '@/styles/utils/tokens';

.button,
.buttonIcon {
  cursor: pointer;
  transition: 0.2s ease opacity;

  * {
    transition: 0.2s ease opacity;
  }
}

.button {
  @include mixins.flex-center;

  column-gap: 0.5rem;
  font-size: tokens.$fs-18;

  &.primary,
  &.secondary {
    @include mixins.default-line-height;

    width: 100%;
    padding-block: 1.1875rem;
    border-radius: 9px;

    font-size: tokens.$fs-18;
    font-weight: 500;

    @include mixins.media-min(mobile) {
      width: auto;
      padding-inline: 2rem;
    }

    a,
    span {
      white-space: nowrap;
    }
  }

  &.primary {
    color: var(--btn-primary-text);
    background: var(--btn-primary-bg);
    box-shadow: var(--btn-primary-shadow);

    // transition:
    //   transform 0.3s ease-in-out,
    //   box-shadow 0.3s ease-in-out;

    // &:hover:enabled,
    // &:hover:any-link {
    //   transform: translateY(-0.2rem);
    //   box-shadow: var(--sd-primary-btn-hover);
    // }
  }

  &.secondary {
    color: var(--btn-secondary-text);
    background-color: var(--btn-secondary-bg);
  }

  &.ghost {
    color: var(--btn-ghost-text);

    &:hover {
      * {
        opacity: 0.8;
      }
    }
  }
}
