@use '@/styles/utils/mixins';

.button,
.buttonIcon {
  cursor: pointer;
  transition: 0.2s ease opacity;

  * {
    transition: 0.2s ease opacity;
  }
}

.button {
  @include mixins.flex-center;

  column-gap: 0.5rem;
  font-size: var(--fs-18);

  &.primary,
  &.secondary {
    width: 100%;
    border-radius: 0.5625rem;
  }

  &.primary {
    color: var(--btn-primary-text);
    background-color: var(--btn-primary-bg);
  }

  &.secondary {
    color: var(--btn-secondary-text);
    background-color: var(--btn-secondary-bg);
  }

  &.ghost {
    color: var(--btn-ghost-text);

    &:hover {
      * {
        opacity: 0.8;
      }
    }
  }
}
