@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@use '@/styles/utils/functions' as f;

$content-mb: 3.5625rem;
$image-container-mt: 4.0706rem;

.content {
  margin-bottom: $content-mb;

  @include mixins.clamp-bp(
    margin-bottom,
    (
      mobile: $content-mb,
      ultra: 5.6875rem,
    )
  );

  @include mixins.media-min(mobile) {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.5rem;
    justify-content: space-between;
  }

  .getInTouchBtn {
    @include mixins.media-min(mobile) {
      display: none;
    }
  }

  .imageContainer {
    margin-bottom: $image-container-mt;

    @include mixins.media-min(mobile) {
      width: 100%;
      max-width: 21.5rem;
      margin-bottom: 0;
    }

    .imageWrapper {
      position: relative;

      aspect-ratio: calc(250 / 322);
      width: 100%;
      max-width: 15.625rem;
      border: 0.66px solid var(--light-grey);

      @include mixins.clamp-bp(
        margin-bottom,
        (
          mobile: $image-container-mt,
          ultra: 6.25rem,
        )
      );

      @include mixins.theme-dark {
        border-color: #323232;
      }

      @include mixins.media-min(mobile) {
        aspect-ratio: calc(344 / 443);
        max-width: none;
      }
    }

    .imageWrapper,
    .image {
      border-radius: 8px;

      @include mixins.media-min(mobile) {
        border-radius: 11px;
      }
    }

    .getInTouchBtn {
      display: none;

      @include mixins.media-min(mobile) {
        display: flex;
        margin-inline: auto;
      }
    }
  }

  .textContainer {
    @include mixins.media-min(mobile) {
      max-width: 37.8125rem;
    }

    .text {
      @include mixins.text-line-height;
      @include mixins.clamp-font-size(
        (
          mobile: tokens.$fs-base,
          ultra: tokens.$fs-18,
        )
      );

      .highlight {
        color: var(--text-highlighted);
      }
    }

    .paragraph {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .title {
        margin-bottom: 0.5rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .closingParagraph {
      margin-block: 3.75rem;
    }

    .afterword {
      margin-bottom: 6.9375rem;
    }
  }
}
