@use 'sass:list';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-vertical {
  display: flex;
  align-items: center;
}

@mixin flex-between($align: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin stack($direction: column, $gap: 1rem) {
  $valid-directions: row, row-reverse, column, column-reverse;

  @if not list.index($valid-directions, $direction) {
    @error "Invalid direction `#{$direction}`. Use: #{$valid-directions}";
  }

  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
