@use '@/styles/utils/tokens';
@use 'sass:math';
@use 'sass:map';
@use './clamp';
@use './media';

@forward './flex';
@forward './clamp';
@forward './media';
@forward './text';

@mixin side-padding {
  padding-inline: tokens.$layout-side-padding;

  @include media.media-min(mobile) {
    @include clamp.clamp-bp(
      padding-inline,
      (
        mobile: tokens.$layout-side-padding,
        desktop: tokens.$layout-side-padding-desktop,
      )
    );
  }
}

@mixin content-container-styles {
  margin-inline: auto;
  @include side-padding;

  @include media.media-side-padding {
    width: 100%;
    max-width: tokens.$desktop-content;
    padding-inline: 0;
  }
}

@mixin container-desktop {
  width: 100%;
  max-width: 64rem;
}

@mixin card-styles {
  border: tokens.$card-border-thickness solid var(--card-border);
  border-radius: 32px;
  background-color: var(--card-bg);
}

@mixin theme-dark {
  [data-theme='dark'] & {
    @content;
  }
}
