@use '@/styles/utils/tokens';
@use 'sass:math';
@use './clamp';
@use './media';

@forward './flex';
@forward './clamp';
@forward './media';

@mixin side-padding {
  padding-inline: tokens.$layout-side-padding;

  @include clamp.clamp-bp(
    padding-inline,
    (
      mobile: tokens.$layout-side-padding,
      ultra: tokens.$layout-side-padding-desktop,
    )
  );
}

@mixin container-desktop {
  width: 100%;
  max-width: 64rem;
}

@mixin theme-dark {
  [data-theme='dark'] & {
    @content;
  }
}

@mixin clamp-font-size($value-for-bp-map) {
  @include clamp.clamp-bp(font-size, $value-for-bp-map);
}

@mixin base-text() {
  @include clamp-font-size(());
}

@mixin default-line-height {
  line-height: 1.2;
}
