@use 'sass:map';
@use '@/styles/utils/tokens';

@mixin media-max($bp-key) {
  $width: map.get(tokens.$breakpoints, $bp-key);

  @if not $width {
    @error "No breakpoint found for `#{$bp-key}` in $breakpoints map.";
  }

  @media (max-width: $width) {
    @content;
  }
}

@mixin media-min($bp-key) {
  $width: map.get(tokens.$breakpoints, $bp-key) + 0.0625em;

  @if not $width {
    @error "No breakpoint found for `#{$bp-key}` in $breakpoints map.";
  }

  @media (min-width: $width) {
    @content;
  }
}

@mixin desktop-only {
  display: none;

  @include media-min(mobile) {
    display: block;
  }
}

@mixin mobile-only {
  display: block;

  @include media-min(mobile) {
    display: none;
  }
}
