@use './clamp';
@use './media';

@mixin clamp-font-size($value-for-bp-map) {
  @include clamp.clamp-bp(font-size, $value-for-bp-map);
}

@mixin base-text() {
  @include clamp-font-size(());
}

@mixin text-line-height {
  line-height: 1.5;
}

@mixin list-style {
  padding-left: 1.25rem;
  list-style-type: disc;

  &:lang(ru) {
    list-style: none;

    li::before {
      content: '— ';
      margin-right: 0.3125rem;
    }
  }

  &:lang(en) {
    padding-left: 1.25rem;
    list-style-type: disc;
  }
}
