@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;
}

.content-container {
  @include m.content-container;
  margin-bottom: 11.4rem;

  @include bp.xs {
    margin-bottom: 6rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;

  @include bp.sm {
    grid-template-columns: repeat(1, 1fr);
  }
}
