@use "@styles-utils/breakpoints" as bp;

.widget {
  max-width: 50.4rem;
  max-height: 50.4rem;
  background-color: var(--card-bg);
  border: 1px solid #ebebeb;
  border-radius: 3.2rem;
  overflow: hidden;

  [data-theme="dark"] & {
    border: 1px solid transparent;
  }

  .content {
    padding-top: 5.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      border-radius: 0 0 3.2rem 3.2rem;
    }

    @include bp.md {
      padding-top: 4rem;
    }
    @include bp.xs {
      padding-top: 3.2rem;
    }
  }
}
