@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@use '@/styles/utils/functions' as f;

$image-desktop-shift: 5.3125rem;

@mixin second-layout {
  display: flex;
  align-items: center;

  @include mixins.media-min(mobile) {
    overflow: visible;
    flex-direction: row-reverse;
    min-width: auto;
  }

  .imageContainer {
    position: relative;

    @include mixins.media-min(mobile) {
      top: unset;
      right: unset;
      margin-left: 85px;

      @include mixins.clamp-bp(
        flex-basis,
        (
          mobile: 19.375rem,
          ultra: 29.375rem,
        )
      );
    }

    .image {
      transform: translate(0, -40px);
    }
  }
}

.hero {
  isolation: isolate;
  position: relative;
  margin-bottom: 8.5625rem;
  padding-top: 17.6875rem;

  @include mixins.clamp-bp(
    margin-bottom,
    (
      mobile: 8.5625rem,
      ultra: 23.4375rem,
    )
  );

  @include mixins.clamp-bp(
    margin-top,
    (
      mobile: 13.125rem,
      ultra: 13.875rem,
    )
  );

  @include mixins.media-min(mobile) {
    padding-top: 0;
  }

  .imageContainer {
    position: absolute;
    z-index: -1;
    top: 102px;
    left: 50%;
    transform: translateX(-50%);

    aspect-ratio: 1;
    width: 176px;

    @include mixins.media-min(mobile) {
      top: -40px;
      right: -85px;
      left: unset;
      transform: none;

      @include mixins.clamp-bp(
        width,
        (
          mobile: 19.375rem,
          ultra: 29.375rem,
        )
      );
    }

    .image {
      border-radius: 50%;
      filter: blur(0.2px);
    }
  }

  .title {
    margin-bottom: 1rem;
    font-weight: 800;

    @include mixins.clamp-bp(
      margin-bottom,
      (
        mobile: 1rem,
        ultra: 2.5rem,
      )
    );

    .greeting,
    .pronoun {
      color: var(--dark-grey);
    }

    .greeting {
      @include mixins.mobile-only;
    }
  }

  .intro {
    @include mixins.text-line-height;

    @include mixins.clamp-font-size(
      (
        mobile: tokens.$fs-base,
        ultra: tokens.$fs-24,
      )
    );

    @include mixins.clamp-bp(
      max-width,
      (
        mobile: 16.5625rem,
        desktop: 38.75rem,
        ultra: 45.5625rem,
      )
    );

    margin-bottom: 3.5rem;
    @include mixins.clamp-bp(
      margin-bottom,
      (
        ultra: 2.5rem,
      ),
      (
        auto-interpolate: true,
      )
    );
    @include mixins.media-min(mobile) {
      position: relative;
      z-index: 1;
      line-height: 1.5;
      mix-blend-mode: plus-lighter;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1.0625rem;

    @include mixins.media-min(mobile) {
      flex-direction: row;
      gap: 0 1rem;
      align-items: center;
    }
  }

  // @include second-layout;
}
