@use '@/styles/utils/tokens';
@use 'sass:math';
@use 'sass:meta';

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    $temp: $number * 0 + 1;
    @return calc($number / ($temp));
  }

  @return $number;
}

@function subtract-border($value, $border-thickness: tokens.$border-thickness) {
  @return calc($value - $border-thickness);
}
