@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  min-height: 32.6rem;

  @include m.padding-sides;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 102.4rem;
  margin: 3.2rem auto 0;
  color: var(--footer-text);
  padding: 4.2rem 0;

  @include bp.sm {
    flex-direction: column;
    padding-top: 4.8rem;
  }
}

.left-side {
  padding-right: 6rem;

  [data-theme="dark"] & {
    color: var(--medium-grey);
  }

  p {
    font-size: 1.4rem;
  }

  .subtext {
    margin-bottom: 9.3rem;
    font-weight: 500;

    @include bp.sm {
      margin-bottom: 3rem;
    }
  }

  @include bp.sm {
    order: 1;
    margin-bottom: 6rem;
  }
}

.right-side {
  display: flex;
  column-gap: 12rem;

  @include bp.breakpoint(600px) {
    column-gap: 7rem;
  }

  @include bp.sm {
    flex-direction: column;
    column-gap: 0;
    row-gap: 4rem;
    margin-bottom: 6.4rem;
  }

  h4 {
    font-weight: bold;
    color: var(--title-text-color);
    margin-bottom: 3.2rem;
  }

  .links,
  .socials {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  .links-wrapper {
    @include bp.sm {
      order: 1;
    }
  }
}
