$breakpoints: (
  xs: 24.375em,
  //390px
  sm: 30em,
  //480px
  md: 48em,
  //768px
  lg: 64em,
  //1024px
  xl: 75em, //1200px
);

// $breakpoints-down: (
//   'xs': 24.37375em,
//   //389.98px
//   'sm': 29.9375em,
//   //479.98px
//   'md': 47.99875em,
//   //767.98px
//   'lg': 63.99875em,
//   //1023.98px
//   'xl': 74.99875em,
//   //1199.98px
// );

// max-width
@mixin xs {
  @media (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

// min-width
@mixin xs-min {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin md-min {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin mobile-breakpoint {
  @media (min-width: map-get($breakpoints, "xs")) and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}
