:root {
  // basic
  --black: #0d0d0d;
  --white: #ffffff;
  --onyx: #181818;
  --dark-grey: rgb(128, 128, 128);
  --medium-grey: rgba(128, 128, 128, 0.5);
  --light-grey: rgb(197, 197, 197);

  // dark
  --black-50per: rgba(21, 21, 21, 0.5);
  --black-30per: rgb(24, 24, 29, 0.3);
  --black-10per: rgb(21, 21, 21, 0.1);

  // light
  --faint-white: #f3f3f3;
  --white-10per: rgba(255, 255, 255, 0.1);
  --white-25per: rgba(255, 255, 255, 0.25);
  --white-70per: rgba(255, 255, 255, 0.7);

  // gradient
  --dark-gradient: linear-gradient(to bottom, #1a1a1a, #131313);
  --bg-blue-element: rgba(63, 100, 233, 0.43);
  --bg-yellow-element: rgba(255, 184, 0, 0.43);
  --bg-red-element: rgba(233, 63, 63, 0.43);

  // elements
  --main-bg: #fbfbfb;

  // header & footer
  --header-bg: var(--white-25per);
  --header-text-links: var(--onyx);
  --footer-text: var(--onyx);

  // header(mobile nav-bar)
  --header-nav-mobile-bg: rgba(24, 24, 29, 0.3);
  --header-nav-mobile-border: rgba(39, 38, 44, 0.3);
  --header-nav-mobile-btn-bg: var(--black-50per);
  --header-nav-mobile-popup-btn-bg: rgba(128, 128, 128, 0.5);

  //heading
  --heading-text-color: var(--onyx);

  // text
  --main-text: var(--dark-grey);

  //btns
  --bg-secondary-btn: var(--faint-white);
  --bg-secondary-btn-hover: hsl(0, 0%, 90%);
  --text-secondary-btn: var(--onyx);

  --text-btn: var(--onyx);

  //cards
  --card-bg: #f6f6f6;
  --card-border: #ebebeb;
}

[data-theme="dark"] {
  --main-bg: #0d0d0d;

  // header
  --header-bg: var(--black-30per);
  --header-text-links: var(--white-70per);
  --footer-text: var(--white-70per);

  // header(mobile nav-bar)
  --header-nav-mobile-bg: rgba(24, 24, 29, 0.6);
  --header-nav-mobile-border: rgba(39, 38, 44, 0.38);
  --header-nav-mobile-btn-bg: var(--white-10per);
  --header-nav-mobile-popup-btn-bg: rgba(255, 255, 255, 0.1);

  //heading
  --heading-text-color: var(--white);

  //btns
  --sd-primary-btn:
    inset 0 1px 2px 0 rgba(255, 255, 255, 0.02),
    inset 0 2px 4px 0 rgba(255, 255, 255, 0.08), 0 7px 4px 0 rgba(0, 0, 0, 0.15);

  --sd-primary-btn-hover:
    inset 0 1px 2px 0 rgba(255, 255, 255, 0.02),
    inset 0 7px 4px 0 rgba(255, 255, 255, 0.08), 0 7px 4px 0 rgba(0, 0, 0, 0.15);

  --bg-secondary-btn: var(--onyx);
  --bg-secondary-btn-hover: hsl(0, 0%, 20%);
  --text-secondary-btn: var(--dark-grey);

  --text-btn: var(--white);

  //cards
  --card-bg: var(--onyx);
  --card-border: #383737;
}
