@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;

  margin-top: 6rem;
  margin-bottom: 12.1rem;

  @include bp.sm {
    margin-bottom: 8rem;
  }
}

.content-container {
  @include m.content-container;

  .section-title {
    margin-bottom: 3.2rem;

    @include bp.md {
      margin-bottom: 2.66rem;
    }
    @include bp.sm {
      margin-bottom: 2.13rem;
    }
    @include bp.xs {
      margin-bottom: 1.6rem;
    }
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    @include bp.md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp.sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
