@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.card {
  max-width: 33rem;
  min-height: 30rem;
  @include m.card;
  padding: 2.3rem;
  border-radius: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include bp.sm {
    flex-direction: row;
    padding: 1.2rem 1.3rem;
    max-width: 100%;
    min-height: unset;
    column-gap: 1.6rem;
  }

  .logo-wrapper {
    width: 11.4rem;
    height: 11.4rem;
    @include m.flex-center;
    margin-top: 4.5rem;
    margin-bottom: 4rem;

    @include bp.md {
      width: 10.5rem;
      height: 10.5rem;
    }
    @include bp.sm {
      width: 6rem;
      height: 6rem;
      margin: 0;
    }

    .logo {
      width: 100%;
    }
  }

  .names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;

    .name {
      font-size: 2rem;
      font-size: clamp(1.6rem, 1.461rem + 0.357vw, 2rem);
      font-weight: 600;

      @include bp.xs {
        font-size: 1.6rem;
      }
    }

    .tag {
      font-size: 1.4rem;
      font-size: clamp(1.1rem, 0.996rem + 0.267vw, 1.4rem);
      padding: 0.5rem 1.1rem;
      border-radius: 2.6rem;
      background-color: var(--white-70per);
      border: 1px solid var(--white-70per);
      text-align: center;

      [data-theme="dark"] & {
        background-color: transparent;
        border: 1px solid var(--dark-grey);
      }

      @include bp.xs {
        font-size: 1.1rem;
      }
    }
  }
}
