@use "@styles-utils/mixins" as m;

.dropdown-list {
  position: absolute;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  text-align: left;
  //z-index: -1;
  transform: translate(-12.4rem, 3rem);
  background-color: var(--header-bg);
  border-radius: 0 0 1.2rem 1.2rem;
  opacity: 0;
  transition: opacity ease-in-out 300ms;

  @include m.apply-margin-bottom-to-children-except-last(1.6rem);

  li {
    text-wrap: nowrap;
  }
}
