@use "@styles-utils/breakpoints" as bp;

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  max-width: 102.4rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 1.6rem 1.6rem;
  background-color: var(--header-bg);
  border: 1px solid var(--white-25per);
  border-radius: 1.2rem;
  color: var(--header-text-links);
  transition: color ease-in-out 300ms;

  [data-theme="dark"] & {
    border: 1px solid transparent;
  }

  @include bp.md {
    display: none;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  column-gap: 4rem;
  padding: 0.35rem 0;
}

.social-links {
  display: flex;
  column-gap: 2.4rem;
  margin-right: 2.4rem;
}

.icon-divider {
  width: 0.1rem;
  height: 2.4rem;
  margin-right: 2.4rem;
  background-color: rgba(0, 0, 0, 0.26);

  [data-theme="dark"] & {
    background-color: var(--white-25per);
  }
}
