@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  @include m.content-container;
  margin-bottom: 11.4rem;

  @include bp.xs {
    margin-bottom: 12.9rem;
  }

  .subtitle {
    font-size: 2rem;
    font-size: clamp(1.5rem, 1.326rem + 0.446vw, 2rem);
    color: var(--medium-grey);

    @include bp.xs {
      font-size: 1.5rem;
    }
  }

  .btn {
    @include bp.sm {
      width: 100%;
    }
  }

  @include bp.md {
    flex-direction: column;
    column-gap: 0;
    row-gap: 3.4rem;
    text-align: center;
  }
}
