@use "@styles-utils/breakpoints" as bp;
@use "@styles-utils/mixins" as m;

.container {
  display: none;

  @include bp.md {
    display: block;
  }
}

.header-container {
  width: 100%;
}

.logo {
  padding-top: 3.2rem;

  .link {
    margin: 0 auto;
    display: block;
    width: max-content;

    img {
      filter: invert(100%) opacity(0.5);
    }
  }
}

.nav-bar-container {
  width: 100%;
  height: 6rem; //min-height
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 3.2rem;
  padding: 0 1.6rem;
}
