@use "@styles-utils/breakpoints" as bp;
@use "@styles-utils/mixins" as m;

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 1.5rem 1.5rem 12.7rem;
  color: var(--white);

  width: 100%;
  background-color: var(--header-nav-mobile-bg);
  border: 1px solid var(--header-nav-mobile-border);
  backdrop-filter: blur(1.2rem);
  border-radius: 1.2rem 1.2rem 0 0;
}

.links-wrapper {
  @include m.apply-margin-bottom-to-children-except-last(1.6rem);

  .link {
    border-radius: 0.9rem;
    background-color: var(--header-nav-mobile-popup-btn-bg);
    padding: 1.9rem 2rem;

    :first-child {
      @include m.flex-center;
      width: 100%;
      height: 100%;
    }
  }
}
