$desktop-frame: 94.5rem; // Figma desktop frame
$desktop-content: 64rem;
$layout-side-padding: 1rem;
$layout-side-padding-desktop: 2rem;

// Components
$tapbar-height: 60px;
$tapbar-bottom: 16px;
$tapbar-height-full: calc($tapbar-height + $tapbar-bottom);
$header-height: 3.75rem;
$border-thickness: 0.0625rem;
$card-border-thickness: 0.0625rem;
