@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;
}
.head-page-container {
  @include m.head-page-container;

  @include bp.md {
    margin-top: 10.4rem;
  }
  @include bp.sm {
    margin-top: 12.4rem;
  }
  @include bp.xs {
    margin-top: 14.4rem;
  }
}
