@use "@styles-utils/mixins" as m;
@use "@styles-utils/breakpoints" as bp;

.page-container {
  @include m.page-container;
}

.content-container {
  @include m.content-container;

  @include m.apply-margin-bottom-to-children-except-last(3.2rem);
  margin-bottom: 10rem;

  @include bp.xs {
    margin-bottom: 6rem;
  }
}
