@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';

.header {
  position: absolute;
  top: 32px;

  @include mixins.media-min(mobile) {
    @include mixins.flex-center;

    right: 1rem;
    left: 1rem;
    overflow: hidden;
    margin-inline: auto;

    .container {
      @include mixins.container-desktop;
      @include mixins.flex-center-vertical;
      @include mixins.clamp-bp(
        height,
        (
          mobile: calc(tokens.$header-height - 0.25rem),
          ultra: tokens.$header-height,
        )
      );

      padding: 0 1rem;
      border: thin solid var(--header-bg);
      border-radius: 1rem;

      background-color: var(--header-bg);
      backdrop-filter: blur(4px);
    }
  }

  .logoLink {
    @include mixins.mobile-only;

    width: 46px;
    height: 30px;

    .logo {
      path {
        opacity: 0.5;
        fill: var(--logo-color);
      }
    }
  }

  .desktop {
    display: none;

    @include mixins.media-min(mobile) {
      @include mixins.flex-center-vertical;

      column-gap: 1rem;
      justify-content: space-between;
      width: 100%;

      .list {
        @include mixins.flex-center-vertical;

        .item {
          @include mixins.flex-center;
        }
      }

      .title,
      .language {
        @include mixins.clamp-font-size(
          (
            mobile: tokens.$fs-12,
            ultra: tokens.$fs-16,
          )
        );
      }

      .layoutLeft {
        @include mixins.flex-center-vertical;

        overflow-x: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;

        .logoLink {
          @include mixins.clamp-bp(
            margin-right,
            (
              mobile: 1rem,
              ultra: 2.5rem,
            )
          );

          display: block;
          flex-shrink: 0;
          width: 2.4919rem;
          height: 1.625rem;

          .logo {
            path {
              opacity: 0.75;
              fill: var(--icon-primary);
            }
          }
        }

        .list {
          @include mixins.clamp-bp(
            column-gap,
            (
              mobile: 1rem,
              ultra: 2.5rem,
            )
          );

          .title {
            white-space: nowrap;
            opacity: 0.65;
            transition: opacity 0.3s;

            &:hover {
              opacity: 1;
            }

            &.active {
              opacity: 1;
            }
          }
        }
      }

      .layoutRight {
        @include mixins.flex-center-vertical;

        flex-shrink: 0;
        align-items: stretch;

        .socialLinks {
          @include mixins.flex-center-vertical;

          .list {
            column-gap: 1.5rem;
          }
        }

        .divider {
          width: 0.0625rem;
          margin-inline: 1.5rem;
          background-color: var(--black-30);

          @include mixins.theme-dark {
            background-color: var(--white-25);
          }
        }

        .switchers {
          @include mixins.flex-center-vertical;

          column-gap: 1rem;

          .themeSwitcher {
            @include mixins.flex-center;

            position: relative;
            width: 1.5rem;
            height: 1.5rem;

            .iconWrapper {
              position: absolute;
              inset: 0;
            }
          }

          .localeSwitcher {
            display: flex;
            column-gap: 0.75rem;
            text-transform: capitalize;

            a {
              transition: filter 0.3s ease-in-out;
            }

            .item {
              @include mixins.flex-center;

              .language {
                filter: opacity(0.6);
                transition: opacity 0.3s;

                &.active {
                  filter: opacity(1);
                }
              }
            }
          }
        }
      }
    }
  }
}
