@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@use 'sass:map';
@forward './fonts';

html {
  scroll-behavior: smooth;

  box-sizing: border-box;
  height: 100%;

  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: tokens.$tapbar-height-full;

  font-family: Inter, sans-serif;

  background-color: var(--bg-color);

  @include mixins.media-min(mobile) {
    padding-bottom: 0;
  }
}

main {
  flex: 1;
  width: 100%;
  min-height: 100dvh;

  @include mixins.media-side-padding {
    min-height: 100vh;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
div,
section,
article,
header,
footer,
nav,
main,
aside,
figure,
blockquote,
button,
input,
textarea,
select {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

h1,
h2 {
  font-weight: 700;
  color: var(--text-heading);
}

h1 {
  font-size: tokens.$fs-48;

  @include mixins.clamp-font-size(
    (
      mobile: tokens.$fs-48,
      ultra: tokens.$fs-80,
    )
  );
}

h2 {
  margin-bottom: 1rem;
  font-size: tokens.$fs-32;

  @include mixins.clamp-bp(
    margin-bottom,
    (
      mobile: 1rem,
      ultra: 2rem,
    )
  );
  @include mixins.clamp-font-size(
    (
      mobile: tokens.$fs-32,
      ultra: tokens.$fs-48,
    )
  );
}

h3 {
  font-weight: 800;
}

p {
  font-size: tokens.$fs-15;
  font-weight: 500;
  line-height: 1.33;
  color: var(--text-primary);

  @include mixins.clamp-font-size(
    (
      mobile: tokens.$fs-15,
      ultra: tokens.$fs-16,
    )
  );
}

::selection {
  color: var(--text-selection-color);
  background: var(--text-selection-bg);
}
