@use '@/styles/utils/tokens';
@use '@/styles/utils/mixins';
@forward './fonts';

html {
  scroll-behavior: smooth;

  box-sizing: border-box;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: Inter, sans-serif;

  background-color: var(--bg-color);
}

main {
  @include mixins.side-padding;

  flex: 1;
  width: 100%;

  @include mixins.media-min(mobile) {
    max-width: tokens.$desktop-content;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
div,
section,
article,
header,
footer,
nav,
main,
aside,
figure,
blockquote,
button,
input,
textarea,
select {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

h1 {
  font-size: tokens.$fs-48;

  @include mixins.clamp-font-size(
    (
      mobile: tokens.$fs-48,
      ultra: tokens.$fs-80,
    )
  );

  font-weight: 800;
  color: var(--text-heading);
}

p {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.33;
  color: var(--text-primary);
}

::selection {
  color: var(--text-selection-color);
  background: var(--text-selection-bg);
}
