@use '@/styles/utils/mixins';
@forward './fonts';

html {
  scroll-behavior: smooth;

  box-sizing: border-box;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: var(--bg-color);
}

main {
  @include mixins.side-padding;

  flex: 1;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
div,
section,
article,
header,
footer,
nav,
main,
aside,
figure,
blockquote,
button,
input,
textarea,
select {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}
